@model ContosoUniversity.Models.Course
@{
    ViewBag.Title = "UpdateCourseCredits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UpdateCourseCredits</h2>

@if(ViewBag.RowsAffected == null)
{
    using (Html.BeginForm())
    {
        <p>
            Enter a number to multiply every course's credts by:
            @Html.TextBox("multiplier")
        </p>
        <p>
            <input type="submit" value="Update"/>
        </p>
    }
}

@if(ViewBag.RowsAffected != null)
{
    <p>
        Number of rows affected: @ViewBag.RowsAffected
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

